body{
    
    background-color: hsl(204, 43%, 93%);
    font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 16px;
  
}
.myp{
    opacity: 0.7;
}
.card{
    width: auto;
    border-radius: 9px;
    background-color:white;
    margin: 60px;
    height: auto;
}
/*style top container */
.top-container h2{
    color :hsl(179, 62%, 43%);
}
 
.top-container h3{
    color: hsl(71, 73%, 54%);

    
}
.top-container{
    padding: 20px;
}
/*style butom container*/
.butom-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* style to left*/
.left-container{
    background-color:hsl(179, 62%, 43%) ;
    padding: 20px;
    color: white;
}
b{
    font-size: 28px;
   

}
span{
    opacity: 0.5;
    margin-left: 10px;
}

button{
    color: white;
    background-color:hsl(71, 73%, 54%); 
   text-align: center;
    width: 100%;
    height: 50px;
    border: none;
    box-shadow:4px;
    border-radius: 5px;
    font-weight: 700;
    
}
/*style to right*/
.right-container{
    background-color:hsl(179, 59%, 53%);
    padding: 20px;
    color: white;
}

@media screen and (max-width:375px) {
   
    .butom-container{
        display: grid;
        grid-template-columns: 1fr ;
    } 
}